S3method(plot,bootcorr)
S3method(plot,highriskzone)
S3method(plot,hrzeval)
S3method(print,bootcorr)
S3method(print,highriskzone)
S3method(print,hrzeval)
S3method(summary,bootcorr)
S3method(summary,highriskzone)
S3method(summary,hrzeval)
export(bootcor)
export(bootcor_restr)
export(det_hrz)
export(det_hrz_restr)
export(est_intens)
export(est_intens_weight)
export(eval_hrz)
export(eval_method)
export(read_pppdata)
export(sim_nsppp)
export(thin)
import(ks)
import(spatstat)
